In [102]:
students=['Ram','Sam','Sita','Geeta','Ritu','Guru','kate','Kirk']
print(students)

['Ram', 'Sam', 'Sita', 'Geeta', 'Ritu', 'Guru', 'kate', 'Kirk']

In [103]:
type(students)

list

In [104]:
len(students)

8

In [105]:
print(students[0].title())

Ram

In [106]:
#first letter caps
print(students[-1].title())

Kirk

In [107]:
# all letters in the name Caps
print(students[-3].upper())

GURU

In [108]:
print(students)
students.append('Harika')
print(students)

['Ram', 'Sam', 'Sita', 'Geeta', 'Ritu', 'Guru', 'kate', 'Kirk']
['Ram', 'Sam', 'Sita', 'Geeta', 'Ritu', 'Guru', 'kate', 'Kirk', 'Harika']

In [109]:
students.insert(0,'kamal')
print(students)

['kamal', 'Ram', 'Sam', 'Sita', 'Geeta', 'Ritu', 'Guru', 'kate', 'Kirk', 'Harika']

In [110]:
students.insert(-5,'radhi')
print(students)

['kamal', 'Ram', 'Sam', 'Sita', 'Geeta', 'radhi', 'Ritu', 'Guru', 'kate', 'Kirk', 'Harika']

In [117]:
#removing element
students.pop(3)
print(students)

['kamal', 'Ram', 'Sam', 'Geeta', 'radhi', 'Ritu', 'Guru', 'kate', 'Kirk', 'Harika']

In [119]:
students.pop()
print(students)

['kamal', 'Ram', 'Sam', 'Geeta', 'radhi', 'Ritu', 'Guru', 'kate', 'Kirk']

In [120]:
students.pop()
print(students)

['kamal', 'Ram', 'Sam', 'Geeta', 'radhi', 'Ritu', 'Guru', 'kate']

In [121]:
students.pop(-1)
print(students)

['kamal', 'Ram', 'Sam', 'Geeta', 'radhi', 'Ritu', 'Guru']

In [122]:
students.pop(0)
print(students)

['Ram', 'Sam', 'Geeta', 'radhi', 'Ritu', 'Guru']

In [124]:
del students[3]
print(students)

['Ram', 'Sam', 'Geeta', 'Ritu', 'Guru']

In [125]:
print(students)

['Ram', 'Sam', 'Geeta', 'Ritu', 'Guru']

In [126]:
students.pop(1)

'Sam'

In [128]:
new_students=['Ram', 'Sam', 'Geeta','Harika', 'Ritu', 'Guru']
print(new_students)

['Ram', 'Sam', 'Geeta', 'Harika', 'Ritu', 'Guru']

In [135]:
#sorted for temporary sorting
print (sorted(new_students))

['Geeta', 'Guru', 'Harika', 'Ram', 'Ritu', 'Sam']

In [136]:
print(new_students)

['Ram', 'Sam', 'Geeta', 'Harika', 'Ritu', 'Guru']

In [139]:
#sort for permanetly sorting
new_students.sort()
print(new_students)

['Geeta', 'Guru', 'Harika', 'Ram', 'Ritu', 'Sam']

In [140]:
print(new_students)

['Geeta', 'Guru', 'Harika', 'Ram', 'Ritu', 'Sam']

In [142]:
new_students.sort(reverse=True)
print(new_students)

['Sam', 'Ritu', 'Ram', 'Harika', 'Guru', 'Geeta']

In [143]:
new_students.sort(reverse=False)
print(new_students)

['Geeta', 'Guru', 'Harika', 'Ram', 'Ritu', 'Sam']

In [144]:
print(new_students)

['Geeta', 'Guru', 'Harika', 'Ram', 'Ritu', 'Sam']